<div class="row">
    <div class="col-sm-4">
        <label for="firstName">First Name</label>
        @Html.TextBox("firstName", "", new { @class = "form-control" })
    </div>
    <div class="col-sm-4">
        <label for="lastName">Last Name</label>
        @Html.TextBox("lastName", "", new { @class = "form-control" })
    </div>

</div>
<div class="row">
    <div class="col-sm-4">
        <label for="streetNumber">Street Number</label>
        @Html.TextBox("streetNumber", "", new { @class = "form-control" })
    </div>
    <div class="col-sm-4">
        <label for="streetAddress">Street Address</label>
        @Html.TextBox("streetAddress", "", new { @class = "form-control" })
    </div>
    <div class="col-sm-4">
        <label for="city">City </label>
        @Html.TextBox("City", "", new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label for="State">State</label>
        @Html.TextBox("state", "", new { @class = "form-control" })
    </div>
    <div class="col-sm-4">
        <label for="zip">Zip</label>
        @Html.TextBox("zip", "", new { @class = "form-control" })
    </div>
    
</div>

