<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Project Management Application</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/layout")
    @Styles.Render("~/Content/lightboxcss")
    <script src="https://www.google.com/jsapi?fake=.js" async></script>


</head>
<body onload="setBodyLayout();">

    <div class="ui-layout-north">
        <div class="container-fluid">
            <div class="header"></div>
            <div class="row">

                <div class="col-sm-12 login">
                    @Html.Partial("_LoginPartial")
                </div>

                <nav class="col-sm-12 navbar navbar-expand-lg navbar-light bg-light top-bar" id="responsive-menu">
                    <a href="#" class="navbar-brand"><i class="comanyLogo fa fa-compass size-48"></i> <span>Project Management</span></a>
                    <div class="col-lg-5 collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="col-lg-8 navbar-nav mr-auto">
                            <li class="nav-item">@Html.ActionLink("Home", "Overview", "PGMTool", htmlAttributes: new { @class = "nav-link" })</li>
                        </ul>
                    </div>
                    <div class="col-sm-8 col-sm-4 col-sm-12">
                        <button class="navbar-toggler float-md-right float-sm-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-navicon size-21"></i>
                        </button>
                    </div>
                </nav>

            </div>

        </div>
    </div>

    <div class="ui-layout-west">

        @{Html.RenderPartial("_LeftMenuTabs");}

    </div>

    <div class="ui-layout-center">

        @RenderBody()

    </div>

    <div class="ui-layout-south">
        <div class="cell shrink footer">
            <div class="flex-container">
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </div>

        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/js/layout")
    @Scripts.Render("~/js/piechart")
    @Scripts.Render("~/js/lightbox")
    @RenderSection("scripts", required: false)


    <script type="text/javascript">
        //$(document).foundation();
        $('.top-bar').on('sticky.zf.stuckto:top', function () {
            $(this).addClass('shrink');
        }).on('sticky.zf.unstuckfrom:top', function () {
            $(this).removeClass('shrink');
        })

        $(document).ready(function () {
            setDataTable();
            setLightBox();
            setLightBoxOptions();
            setCurrency();
        });

        $("#btn").on('click', function () {
            alert('test')
        })

        function setBodyLayout() {
            var mainLayout = $('body').layout({
                west: {
                    //fxName: "slide",
                    spacing_closed: 25,
                    spacing_open: 10,
                    togglerLength_closed: 150,
                    togglerLength_open: 150,
                    initClosed: false,
                    togglerContent_closed: "&#8250;",
                    togglerContent_open: "&#8249;",
                    slidable: false,
                    resizable: true,
                    size: 300,
                },
                north: {

                    fxName: "slide",
                    north_fxName: "none",
                    spacing_closed: 15,
                    spacing_open: 1,
                    togglerLength_closed: 150,
                    togglerLength_open: 150,
                    initClosed: false,
                    togglerContent_closed: "&#x032C;",
                    togglerContent_open: "&#x032D;",
                    slidable: false,
                    resizable: false,
                    closable: false,

                },
                south: {
                    resizable: false,
                    closable: false,
                    spacing_open: 1,
                }
            });
            //mainLayout.addToggleBtn("#btn", "north");
            ////mainLayout.addPinBtn("#myPinButton", "west");
            mainLayout.allowOverflow("north");

        }

        function setDataTable() {
            $(".dataTable_projet_list").DataTable();
        }

        function setLightBoxOptions() {

            lightbox.option({
                'alwaysShowNavOnTouchDevices': true,
                'resizeDuration': 200,
                'wrapAround': true,
                'albumLabel': "Attachment %1 of %2",
                'fitImagesInViewport': true,
                'maxHeight': 700,
                'showImageNumberLabel': true

            });
        }

        function setLightBox() {
            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
        }

        function setCurrency() {

            Currency.call({
                dollarSymbol: ""
            });

        }

        $(document).ready(function () {

            $(document).on("click", ".actionBtn_overview", function (e) {
                var actionValue = $(e.currentTarget).data("actionValue");
                $.get("/PGMTool/OverView").done(function (data) {
                    $("#ProjectSection").html(data);
                }).fail(function (xhr, status, error) {
                    console.log(xhr, status, error);
                })
            })
            $(document).on("click", ".actionBtn_projectDetails", function (e) {
                var actionValue = $(e.currentTarget).data("actionValue");
                $.get("/PGMTool/Projects", { p: 1 }).done(function (data) {
                    $("#ProjectSection").html(data);
                }).fail(function (xhr, status, error) {
                    console.log(xhr, status, error);
                })
            })
        })

        $(".datepicker").datepicker({
            format: 'mm/dd/yyyy',
            startDate: '-0d',
            clearBtn: true,
            todayBtn: false,
            todayHighlight: true,
            autoclose: true,
            orientation: 'auto'
        });

        $(".datepicker_material_list").datepicker({
            format: 'mm/dd/yyyy',
            //startDate: '-0d',
            clearBtn: true,
            todayBtn: false,
            todayHighlight: true,
            autoclose: true,
            orientation: 'auto'
        });

    </script>

</body>
</html>
